/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: Arial;
}

body.home
{
	background-color: #fafafa;
}

html.home-topic	/*Used on home topic to override padding set in the skin*/
{
	
}

html.home-topic .body-container	/*Overrides padding set in the skin*/
{
	padding: 0;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

html.home-topic .sidenav-wrapper	/*Removes the side navigation from the home topic*/
{
	display: none;
}

html.search-results .sidenav-wrapper	/*Removes the side navigation from the search results page*/
{
	display: none;
}

div.home-layout
{
	padding: 2% 15%;
	background-color: #fafafa;
	font-family: Arial;
}

div.layout-separator
{
	border-right: 1px solid #dadada;
}

div.topic-container	/*Sets padding on topics*/
{
	padding: 2% 0;
}

div.sub-content
{
	border-top: solid 1px #dadada;
	padding-top: 25px;
	font-family: Arial;
	margin-top: 25px;
}

div.search-results	/*Sets side padding on search results*/
{
	padding: 0 20%;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #45494c;
	font-style: Arial;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	font-style: Arial;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #fff;
	border: none 0px #000000;
	font-family: Arial;
}

ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
}

img
{
	border: none;
	max-width: 100%;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: #45494c;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|xref
{
	color: #45494c;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: #888888;
}

a:link	/*Color of hyperlinks*/
{
	color: transparent;
}

a:visited
{
	color: #45494c;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDown
{
	border-bottom: 1px solid #dadada;
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-open-image: url('../Images/minus.png');
	mc-closed-image: url('../Images/plus.png');
	padding: 10px 0;
}

div.home-page-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
}

div.home-page-layout::before
{
	content: ' ';
	display: table;
}

div.home-page-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-page-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-page-layout > div:nth-child(1)
{
	width: 75%;
	margin-left: 0%;
	padding: 0 5%;
}

div.home-page-layout > div:nth-child(2)
{
	width: 25%;
	margin-left: 0%;
	padding: 0 5% 2%;
}

div.home-tiles-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5%;
}

div.home-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.home-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 350px;
}

div.home-tiles-layout > div:nth-child(1)
{
	width: 48%;
	margin-left: 0%;
}

div.home-tiles-layout > div:nth-child(2)
{
	width: 48%;
	margin-left: 4%;
}

div.home-tiles-layout > div:nth-child(2) > div:last-child
{
	margin-bottom: 0;
}

div.home-tile
{
	padding: 4%;
	height: 100%;
	border: solid 1px #dadada;
	border-radius: 3px;
}

a.main-tile
{
	height: 100%;
	display: block;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 7px;
	background-color: #fff;
	text-decoration: none;
}

a.side-tile
{
	height: 23.5%;
	display: block;
	text-align: center;
	margin-bottom: 7px;
	background-color: #fff;
	text-decoration: none;
}

a.main-tile:hover
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.2s;
}

a.side-tile:hover
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.2s;
}

p.tile-title
{
	font-size: 1.2em;
	letter-spacing: 0.25;
	color: #138890;
	margin: 0;
	font-family: Arial;
}

p.tile-subtitle
{
	font-size: 0.9em;
	margin: 0;
	font-family: Arial;
}

div.video-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.video-tiles::before
{
	content: ' ';
	display: table;
}

div.video-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.video-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

div.video-tiles > div:nth-child(1)
{
	width: 33.333%;
	margin-left: 0%;
}

div.video-tiles > div:nth-child(2)
{
	width: 33.333%;
	margin-left: 0%;
}

div.video-tiles > div:nth-child(3)
{
	width: 33.333%;
	margin-left: 0%;
}

div.video-tiles *	/*Text-align center set to all elements within div.video-tiles*/
{
	text-align: center;
}

div.home-footer
{
	background-color: #45494c;
	padding: 1% 5%;
}

@media only screen and (max-width: 1279px)
{
	html.home-topic .body-container
	{
		margin-left: 0;
	}

	div.home-layout
	{
		padding: 2% 5%;
		background-color: #fafafa;
	}

	div.home-tiles-layout > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles-layout > div:nth-child(2)
	{
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.home-layout
	{
		padding: 2% 0;
		background-color: #fafafa;
	}

	.layout-separator
	{
		border-right: none;
	}

	div.home-tiles-layout > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles-layout > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-top: 5%;
	}

	div.home-page-layout > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-page-layout > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

@media print
{
	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

p.home
{
	font-size: 10.0pt;
	font-family: Arial;
}

p.right-side
{
	font-family: Arial;
	font-size: 11.0pt;
	margin-bottom: 10px;
	margin-top: 10px;
}

