/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: To_SeeTable;
	border-spacing-y: 1;
	border-spacing-x: 1;
	border-collapse: collapse;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	id: 3;
	name: Header1;
	font-size: 12pt;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	text-align: center;
	cell-content-style-tag: p;
	cell-content-style-class: TableHeaderText;
	background-color: #a9a9a9;
	separator-style: none;
	separator-width: 1px;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	type: Manual;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	text-align: left;
	font-size: 9pt;
	cell-content-style-tag: p;
	cell-content-style-class: TableText;
}


/* Cell Styles: */
 
.TableStyle-To_SeeTable
{
	border-collapse: collapse;
	border-spacing: 1px 1px;
}

.TableStyle-To_SeeTable-Column-Column1
{
	
}

.TableStyle-To_SeeTable-Head-Header1
{
	
}

.TableStyle-To_SeeTable-HeadI-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadI-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-To_SeeTable-HeadE-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadF-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-To_SeeTable-HeadF-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadH-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadD-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-To_SeeTable-HeadD-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadC-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadC-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadB-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadA-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadA-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-HeadG-Column1-Header1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-To_SeeTable-HeadG-Column1-Header1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-To_SeeTable-FootI-Column1-
{
	
}

.TableStyle-To_SeeTable-FootI-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-FootE-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootF-Column1-
{
	
}

.TableStyle-To_SeeTable-FootF-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-FootH-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootD-Column1-
{
	
}

.TableStyle-To_SeeTable-FootD-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootC-Column1-
{
	
}

.TableStyle-To_SeeTable-FootC-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-FootB-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootA-Column1-
{
	
}

.TableStyle-To_SeeTable-FootA-Column1- p
{
	
}

.TableStyle-To_SeeTable-FootG-Column1-
{
	
}

.TableStyle-To_SeeTable-FootG-Column1- p
{
	
}

.TableStyle-To_SeeTable-Body-Body1
{
	
}

.TableStyle-To_SeeTable-BodyI-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyI-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyE-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-BodyE-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyF-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyF-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyH-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-BodyH-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyD-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyD-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyC-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyC-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyB-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-To_SeeTable-BodyB-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyA-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyA-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-To_SeeTable-BodyG-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-To_SeeTable-BodyG-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}


